@import 'tailwindcss';
@import '@ugrc/tailwind-preset';
@source '../node_modules/@ugrc/utah-design-system/src';
@plugin '@rozsazoltan/tailwindcss-patterns';

@theme {
  --color-primary-50: #f2f9f9;
  --color-primary-100: #ddeef0;
  --color-primary-200: #bedce3;
  --color-primary-300: #91c3cf;
  --color-primary-400: #5da1b3;
  --color-primary-500: #428698;
  --color-primary-600: #396e81;
  --color-primary-700: #345b6a;
  --color-primary-800: #33505d;
  --color-primary-900: #2c424d;
  --color-primary-950: #192933;

  --color-secondary-50: #fdfced;
  --color-secondary-100: #f7f4ce;
  --color-secondary-200: #efe898;
  --color-secondary-300: #e7d762;
  --color-secondary-400: #e3c949;
  --color-secondary-500: #7a5e14;
  --color-secondary-600: #6f5113;
  --color-secondary-700: #644617;
  --color-secondary-800: #6d421a;
  --color-secondary-900: #5a3617;

  --color-warning-50: var(--color-fuchsia-50);
  --color-warning-100: var(--color-fuchsia-100);
  --color-warning-200: var(--color-fuchsia-200);
  --color-warning-300: var(--color-fuchsia-300);
  --color-warning-400: var(--color-fuchsia-400);
  --color-warning-500: var(--color-fuchsia-500);
  --color-warning-600: var(--color-fuchsia-600);
  --color-warning-700: var(--color-fuchsia-700);
  --color-warning-800: var(--color-fuchsia-800);
  --color-warning-900: var(--color-fuchsia-900);
  --color-warning-950: var(--color-fuchsia-950);

  --font-utah: 'Source Sans 3', 'Source Sans Pro', Helvetica, Arial, sans-serif;
  --animate-gradient-x: gradient-x 4s ease infinite;

  @keyframes gradient-x {
    0%,
    100% {
      background-size: 200% 200%;
      background-position: left center;
    }
    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }
}

@layer base {
  body {
    font-family: var(--font-utah);
  }

  html,
  body,
  #root {
    @apply flex h-full min-h-full w-full flex-col;
  }
  h1 {
    @apply text-3xl font-bold md:text-4xl;
  }
  h2 {
    @apply text-2xl font-bold md:text-3xl;
  }
  h3 {
    @apply text-xl font-bold md:text-2xl;
  }
  h4 {
    @apply text-lg font-bold md:text-xl;
  }
  h5 {
    @apply text-base font-bold md:text-lg;
  }
  h6 {
    @apply text-sm font-bold md:text-base;
  }
  @font-face {
    font-family: 'utah design system';
    src: url('https://cdn.utah.gov/design-system/fonts/utah-design-system.eot');
    src:
      url('https://cdn.utah.gov/design-system/fonts/utah-design-system.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.utah.gov/design-system/fonts/utah-design-system.woff') format('woff'),
      url('https://cdn.utah.gov/design-system/fonts/utah-design-system.ttf') format('truetype'),
      url('https://cdn.utah.gov/design-system/fonts/utah-design-system.svg#utah-design-system') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('/fonts/SourceSans3-Regular.otf.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'SourceSansPro-Black';
    src: url('/fonts/SourceSans3-Black.otf.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

.utah-id-login button svg {
  width: 116px;
}

.utah-id-login button {
  background-color: var(--color-primary-900);
}

/* overwrite calcite fonts */
:root {
  font-family: var(--font-sans);
}
