@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    width: 100%;
    height: 100%;
  }
  h1 {
    @apply text-3xl font-bold md:text-4xl;
  }
  h2 {
    @apply text-2xl font-bold md:text-3xl;
  }
  h3 {
    @apply text-xl font-bold md:text-2xl;
  }
  h4 {
    @apply text-lg font-bold md:text-xl;
  }
  h5 {
    @apply text-base font-bold md:text-lg;
  }
  h6 {
    @apply text-sm font-bold md:text-base;
  }
  @font-face {
    font-family: 'utah design system';
    src: url('https://cdn.utah.gov/design-system/fonts/utah-design-system.eot');
    src:
      url('https://cdn.utah.gov/design-system/fonts/utah-design-system.eot?#iefix')
        format('embedded-opentype'),
      url('https://cdn.utah.gov/design-system/fonts/utah-design-system.woff')
        format('woff'),
      url('https://cdn.utah.gov/design-system/fonts/utah-design-system.ttf')
        format('truetype'),
      url('https://cdn.utah.gov/design-system/fonts/utah-design-system.svg#utah-design-system')
        format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

/* required for utah design system header */
.utah-design-system {
  --primary-color: theme('colors.wavy.700');
}
.utah-design-system.utds-official-website-popup__wrapper {
  z-index: 1;
}

/* overwrite calcite fonts */
:root {
  font-family: theme('fontFamily.sans');
}
