version: 2
updates:
  - package-ecosystem: nuget
    directories:
      - /src/api/
      - /test/api.unit.tests/
      - /libs/EsriJson/EsriJson.Net
      - /libs/EsriJson/EsriJson.Net.Tests
    schedule:
      interval: quarterly
    groups:
      safe-dependencies:
        update-types:
          - minor
          - patch
      major-dependencies:
        update-types:
          - major
    commit-message:
      prefix: deps(api)
      prefix-development: deps(dev)
    cooldown:
      default-days: 10
      semver-major-days: 60
      semver-minor-days: 14
      semver-patch-days: 7
  - package-ecosystem: pip
    directory: /forklift
    schedule:
      interval: quarterly
    groups:
      safe-dependencies:
        update-types:
          - minor
          - patch
      major-dependencies:
        update-types:
          - major
    commit-message:
      prefix: deps(forklift)
      prefix-development: deps(dev)
    ignore:
      - dependency-name: "ugrc-*"
      - dependency-name: "agrc-*"
    cooldown:
      default-days: 10
      semver-major-days: 60
      semver-minor-days: 14
      semver-patch-days: 7
  - package-ecosystem: npm
    directories:
      - src/developer
      - src/developer/functions
      - src/explorer
    schedule:
      interval: quarterly
    groups:
      safe-dependencies:
        update-types:
          - minor
          - patch
      major-dependencies:
        update-types:
          - major
    commit-message:
      prefix: deps(web)
      prefix-development: deps(dev)
    ignore:
      - dependency-name: "@ugrc/*"
    cooldown:
      default-days: 10
      semver-major-days: 60
      semver-minor-days: 14
      semver-patch-days: 7
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: quarterly
    groups:
      ci-dependencies:
        dependency-type: production
    ignore:
      - dependency-name: "agrc/*"
    cooldown:
      default-days: 10
    commit-message:
      prefix: chore(ci-deps)
  - package-ecosystem: docker
    directory: /src/api
    schedule:
      interval: quarterly
    groups:
      docker-dependencies:
        patterns:
          - "*"
    commit-message:
      prefix: chore(docker-deps)
  - package-ecosystem: docker-compose
    directory: /
    schedule:
      interval: quarterly
    groups:
      docker-dependencies:
        patterns:
          - "*"
    commit-message:
      prefix: chore(docker-deps)
