<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="RemoveAttributes(file)">
    <add key="raven_db_url" value="$(RavenDB)" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="api_explorer_api_key" value="$(ApiKey)" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="admin_email" value="$(AdminEmail)" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="admin_password" value="$(AdminPassword)" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="administrative_access_emails" value="$(AdministrativeAccess)" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="recaptcha_key" value="$(RecaptchaKey)" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" xdt:Transform="SetAttributes(deliveryMethod)">
        <specifiedPickupDirectory xdt:Transform="Remove" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
