<div class="well">
    <span class="label label-verb label-get pull-left">Get</span>
    <span class="label label-url url pull-right">
        /geocode/milepost/:route/:milepost
    </span>
    <div class="clearfix">
    </div>
    <h3>
        Route and Milepost
    </h3>
    <p>
        Returns a geocoded milepost on a route.
    </p>
    <button class="btn btn-default" data-details="true">
        Details
    </button>
    <span class="help-inline label label-success label-status pull-right">implemented</span>
    <div class="clearfix">
    </div>
    <form class="form-horizontal" style="display: none">
        <fieldset>
            <legend class="hidden"></legend>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="route">
                    route
                </label>
                <div class="col-sm-8">
                    <input type="text" id="route" name="route" class="form-control" data-required/>
                    <span class="help-inline label label-info">number</span>
                    <span class="help-inline label label-danger">
                        required
                    </span>
                    <p class="help-block">
                        The Utah highway number. eg: <code>15</code>.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="milepost">
                    milepost
                </label>
                <div class="col-sm-8">
                    <input type="text" id="milepost" name="milepost" class="form-control" data-required/>
                    <span class="help-inline label label-info">number</span>
                    <span class="help-inline label label-danger">
                        required
                    </span>
                    <p class="help-block">
                        The highway milepost. eg: <code>309.001</code>. Milepost precision is up to 1/1000 of a mile (approximately 5 feet).
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="side">
                    side
                </label>
                <div class="col-sm-8">
                    <select id="side" name="side" class="form-control">
                        <option value>Side</option>
                        <option value="increasing">increasing</option>
                        <option value="decreasing">decreasing</option>
                    </select>
                    <span class="help-inline label label-info">string</span>
                    <span class="help-inline label label-success">
                        optional
                    </span>
                    <p class="help-block">
                        <span class="label label-warning">For divided highways only.</span>. The side of the divided highway to match. <code>Increasing</code> if you are on the positive side of the divided highway (The mileposts are getting larger as you drive). <code>Decreasing</code> if you are on the negative side of a divided highway (the mileposts are getting smaller as you drive). Default is <code>Increasing</code>.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="spatialReference">
                    spatialReference
                </label>
                <div class="col-sm-8">
                    <input type="text" id="spatialReference" name="spatialReference" class="form-control"/>
                    <span class="help-inline label label-info">string</span>
                    <span class="help-inline label label-success">
                        optional
                    </span>
                    <p class="help-block">
                        The spatial reference for the output and input geometries.
                        <strong class="text-warning">The output and input spatial references must match.</strong>
                        Choose any of the <abbr title="Well-known Id">wkid</abbr>'s from the
                        <a href="http://resources.arcgis.com/en/help/main/10.1/018z/pdf/geographic_coordinate_systems.pdf">Geographic Coordinate System wkid reference</a>
                        or <a href="http://resources.arcgis.com/en/help/main/10.1/018z/pdf/projected_coordinate_systems.pdf">Projected Coordinate System wkid reference</a>.
                        <code>26912</code> is the default.
                    </p>
                    @Html.Partial("_SpatialReference")
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="fullRoute">
                    fullRoute
                </label>
                <div class="col-sm-8">
                    <select id="fullRoute" name="fullRoute" class="form-control">
                        <option value>fullRoute
                        <option value="true">True
                        <option value="false">False
                    </select>
                    <span class="help-inline label label-info">boolean</span>
                    <span class="help-inline label label-success">
                        optional
                    </span>
                    <p class="help-block">
                        Search using the full route name as it is in the source data (e.g., <code>0015PC30554</code>).
                        <span class="text-warning"><code>route</code> changes from a number to a string. <code>side</code> is ignored as it becomes a part of the <code>route</code></span>. <code>False</code> is the default.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="callback">
                    callback
                </label>
                <div class="col-sm-8">
                    <input type="text" id="callback" name="callback" class="form-control"/>
                    <span class="help-inline label label-info">string</span>
                    <span class="help-inline label label-success">
                        optional
                    </span>
                    <p class="help-block">
                        The callback function to call for cross domain javascript calls (jsonp).
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="format">
                    format
                </label>
                <div class="col-sm-8">
                    <select id="format" name="format" class="form-control">
                        <option value>Format</option>
                        <option value="esrijson">esrijson</option>
                        <option value="geojson">geojson</option>
                    </select>
                    <span class="help-inline label label-info">string</span>
                    <span class="help-inline label label-success">
                        optional
                    </span>
                    <p class="help-block">
                        The format of the resulting milepost. esri json will easily parse into an esri.Graphic
                        for display on a map and geojson will easily parse into a feature for use in many
                        open source projects. If this value is omitted, normal json will be returned.
                    </p>
                </div>
            </div>
        </fieldset>
        <div class="progress-striped active col-sm-offset-2 col-sm-8 col-xs-12">
            <button class="btn btn-primary col-sm-offset-2 col-sm-8 col-xs-12" data-demo data-url='@HttpUtility.UrlDecode(Url.RouteUrl("v1_GeocodeRouteMilePost", new
                                                                                                   {
                                                                                                       httproute = "", version = "1", controller = "Geocode", Action = "RouteMilePost", route = ":route", milepost = ":milepost"
                                                                                                   }))'>
                Try it
            </button>
        </div>
        <div class="code-well">
            <a class="close" data-close>×</a>
            <div class="clearfix">
            </div>
            <pre class="pre-scrollable-small" data-codeContainer>Code</pre>
            <div class="alert alert-info text-center" id="sampleUrl" style="display: none">
            </div>
        </div>
    </form>
</div>