<div class="well">
    <span class="label label-verb label-post pull-left">Post</span> <span class="label label-url url pull-right">
                                                                        /geocode/multiple</span>
    <div class="clearfix"></div>
    <h3>Multiple Addresses</h3>
    <p>
        Returns a list of geocoded address locations. 
    </p>
    <button class="btn btn-default" data-details="true">
        Details
    </button>
    <span class="help-inline label label-success label-status pull-right">implemented</span>
    <div class="clearfix">
    </div>
    <form class="form-horizontal" style="display: none">
        <div class="form-group">
            <div class="col-md-8 col-md-push-2">
                <div class="alert alert-info">
                    This service uses the best available locator set which consists of both road centerlines and address points.
                    Road centerline based locators have a 15 meter offset from the center of the road. There is no offset for the address point based locators.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="addresses">
                addresses
            </label>
            <div class="col-sm-8">
                <textarea rows="5" cols="20" id="addresses" name="addresses" class="form-control" data-required data-json></textarea>
                <span class="help-inline label label-info">string</span> <span class="help-inline label label-danger">
                                                                                 required</span>
                <p class="help-block">
                    A json array of Utah addresses. Maximum addresses to be geocoded per call is <code>100</code>. The json schema is
                    <script>
                        $(document).ready(function() {
                            var addresses = { addresses: [{ id: 1, street: 'string', zone: 'string' }] };
                            $('#multiSchema').html(JSON.stringify(addresses, null, ' '));
                        })
                    </script>
                    <pre id="multiSchema"></pre></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="acceptScore">
                acceptScore
            </label>
            <div class="col-sm-8">
                <input type="text" id="acceptScore" name="acceptScore" class="form-control"/>
                <span class="help-inline label label-info">number</span> <span class="help-inline label label-success">
                                                                                 optional</span>
                <p class="help-block">
                    Sets the score for an acceptable address match. The scale is over 0-100 with the
                    default score being 70. Addresses that do not meet the acceptScore are omitted from the returned list. 
                </p>
            </div>
        </div>
        <div class="progress-striped active col-sm-offset-2 col-sm-8 col-xs-12">
            <button class="btn btn-primary col-sm-offset-2 col-sm-8 col-xs-12" data-demo data-type="POST" data-url='@HttpUtility.UrlDecode(Url.RouteUrl("v1_GeocodeMultipleApi", new
                                                                                                                    {
                                                                                                                        httproute = "", version = "1", controller = "Geocode", Action = "Multiple"
                                                                                                                    }))'>
                Try it
            </button>
        </div>
        <div class="code-well">
            <a class="close" data-close>×</a>
            <div class="clearfix">
            </div>
            <pre class="pre-scrollable-small" data-codeContainer>Code</pre>
            <div class="alert alert-info text-center" id="sampleUrl" style="display: none">
            </div>
        </div>
    </form>
</div>