@model WebAPI.API.Models.ViewModels.MainView
<div class="well">
    <span class="label label-verb label-get pull-left">Get</span> <span class="label label-url url pull-right">
                                                                      /geocode/:street/:zone</span>
    <div class="clearfix"></div>
    <h3>Street and Zone</h3>
    <p>Returns the geocoded address location.</p>
    <button class="btn btn-default" data-details="true">Details</button>
    <span class="help-inline label label-success label-status pull-right">implemented</span>
    <div class="clearfix"></div>
    <form class="form-horizontal" style="display: none">
        <div class="form-group">
            <div class="col-md-8 col-md-push-2">
                <div class="alert alert-info">
                    Road centerline based locators have a 15 meter offset from the center of the road. There is no offset for the address point based locators.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="street">street</label>
            <div class="col-sm-8">
                <input type="text" id="street" name="street" class="form-control" data-required/>
                <span class="help-inline label label-info">string</span> <span class="help-inline label label-danger">
                        required
                    </span>
                <p class="help-block">
                    A Utah street address. eg: <code>326 east south temple st.</code> Intersections are separated
                    by <code>and</code>.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="zone">
                zone
            </label>
            <div class="col-sm-8">
                <input type="text" id="zone" name="zone" class="form-control" data-required/>
                <span class="help-inline label label-info">string</span> <span class="help-inline label label-danger">
                        required
                    </span>
                <p class="help-block">
                    A Utah municipality name or 5 digit zip code.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="spatialReference">
                spatialReference
            </label>
            <div class="col-sm-8">
                <input type="text" id="spatialReference" name="spatialReference" class="form-control"/>
                <span class="help-inline label label-info">string</span> <span class="help-inline label label-success">
                        optional
                    </span>
                @Html.Partial("_SpatialReference")
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="format">
                format
            </label>
            <div class="col-sm-8">
                <select id="format" name="format" class="form-control">
                    <option value>Format
                    <option value="esrijson">esrijson
                    <option value="geojson">geojson
                </select>
                <span class="help-inline label label-info">string</span> <span class="help-inline label label-success">
                        optional </span>
                <p class="help-block">
                    The format of the resulting address. esri json will easily parse into an esri.Graphic
                    for display on a map and geojson will easily parse into a feature for use in many
                    open source projects. If this value is omitted, normal json will be returned.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="callback">
                callback
            </label>
            <div class="col-sm-8">
                <input type="text" id="callback" name="callback" class="form-control"/>
                <span class="help-inline label label-info">string</span> <span class="help-inline label label-success">
                        optional
                    </span>
                <p class="help-block">
                    The callback function to call for cross domain javascript calls (jsonp).
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="acceptScore">
                acceptScore
            </label>
            <div class="col-sm-8">
                <input type="text" id="acceptScore" name="acceptScore" class="form-control"/>
                <span class="help-inline label label-info">number</span> <span class="help-inline label label-success">
                        optional
                    </span>
                <p class="help-block">
                    Sets the score for an acceptable address match. The scale is over 0-100 with the
                    default score being <code>70</code>.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="suggest">
                suggest
            </label>
            <div class="col-sm-8">
                <select id="suggest" name="suggest" class="form-control">
                    <option value>Suggestions
                    <option value="1">1
                    <option value="2">2
                    <option value="3">3
                    <option value="4">4
                    <option value="5">5
                </select>
                <span class="help-inline label label-info">number</span> <span class="help-inline label label-success">
                        optional
                    </span>
                <p class="help-block">
                    The number of suggests to return for a given geocoded address. Will return <code>0</code>
                    suggestions if the match score for the input address is above the accept score.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="locators">
                locators
            </label>
            <div class="col-sm-8">
                <select id="locators" name="locators" class="form-control">
                    <option value>Locators
                    <option value="all">all
                    <option value="addressPoints">addressPoints
                    <option value="roadCenterlines">roadCenterlines
                </select>
                <span class="help-inline label label-info">number</span> <span class="help-inline label label-success">
                        optional
                    </span>
                <p class="help-block">
                    How the service will attempt to locate the address. <code>All</code> is a combination of address
                    points locators and road centerline locators; This will offer the best results.
                    <code>addressPoints</code> will only geocode on address points and <code>roadCenterlines</code>
                    will only geocode on road centerlines. Default is <code>All</code>.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="pobox">
                POBox
            </label>
            <div class="col-sm-8">
                <select id="pobox" name="pobox" class="form-control">
                    <option value>P.O. Box
                    <option value="true">True
                    <option value="false">False
                </select>
                <span class="help-inline label label-info">boolean</span> <span class="help-inline label label-success">
                        optional
                    </span>
                <p class="help-block">
                How the service will handle P.O. Boxes. <code>True</code> will return the coordinates of the
                post office where the mail is delivered. <code>False</code> will return no match. P.O. Boxes
                can <strong>only</strong> be processed if the zone is a <strong>zip code</strong>. If a place
                name is used in the zone the geocode will return no match. Default value is <code>false</code>
            </div>
        </div>
        <div class="progress-striped active col-sm-offset-2 col-sm-8 col-xs-12">
            <button class="btn btn-primary col-sm-offset-2 col-sm-8 col-xs-12" data-demo data-url='@HttpUtility.UrlDecode(Url.RouteUrl("v1_GeocodeApi", new
                                                                                                   {
                                                                                                       httproute = "", version = "1", controller = "Geocode", street = ":street", zone = ":zone"
                                                                                                   }))'>
                Try it
            </button>
        </div>
        <div class="code-well">
            <a class="close" data-close>×</a>
            <div class="clearfix">
            </div>
            <pre class="pre-scrollable-small" data-codeContainer>Code</pre>
            <div class="alert alert-info text-center" id="sampleUrl" style="display: none">
            </div>
        </div>
    </form>
</div>