# code coverage
lcov.info
coverage.xml

# project secrets
src/api/appsettings.production.json
**/ut-dts-agrc-web-api-dev-log-writer.json
**/log-writer.json

# terraform
.terraform

# tailwind css
src/explorer/src/styles/tailwind.css

# OSX
.DS_Store
src/explorer/.astro

# forklift
forklift/data/secrets.py
forklift/gcp_service_account.json
