# code coverage
lcov.info
coverage.xml

# tailwindcss
src/explorer/src/styles/tailwind.css

# OSX
.DS_Store

# Astro
src/explorer/.astro

# python
__pycache__

# node
node_modules

# original projects
cra-explorer/
csharp-developer/
*.cache
src/explorer/.env.local
