@model IEnumerable<WebAPI.Common.Models.Raven.Users.Account>
@{
    ViewBag.Title = "AGRC Web API Analytics";
}

<div id="home">
    <h2>
        API Analytics
    </h2>
</div>
<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        @Html.ErrorBox()
        @Html.MessageBox()
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        @{
            foreach (var account in Model)
            {
                <div class="col-md-3">
                    <div class="caption">
                        <h3>
                            @account.Name
                        </h3>
                        <div class="text-center">
                            <p>
                                <span class="badge badge-success badge-large">UsageCount</span>
                            </p>
                            <hr/>
                            <p>
                                Last Used: LastUsed
                            </p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>