@model dynamic
@{
    ViewBag.Title = "AGRC Web API Analytics";
}

<div id="home">
    <h2>
        API Analytics
    </h2>
</div>
<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        @Html.ErrorBox()
        @Html.MessageBox()
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-6 text-center">
            <h1>
                <span class="glyphicon glyphicon-user help-block"></span>
            </h1>
            <h4>
                @Html.ActionLink("Display Analytics Per User", "UserList", new
                {
                    Controller = "Home",
                    Area = "Admin"
                })
            </h4>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <h1>
                <span class="glyphicon glyphicon-user help-block"></span>
            </h1>
            <h4>
                @Html.ActionLink("Most Used Key", "UserList", new
                {
                    Controller = "Home",
                    Area = "Admin"
                })
            </h4>
        </div>
    </div>
</div>