@using WebAPI.Common.Indexes
@model dynamic

@{
    ViewBag.Title = "AGRC Web API Analytics";
}

<div class="col-md-offset-3 col-md-6 col-sm-6">
    @Html.Partial("ApiKey", (StatsPerApiKey.Stats) Model.key)

    <div class="box box-widget widget-user-2" style="margin-top: -20px">
        <div class="widget-user-header bg-black-gradient">
            <h3 class="widget-user-username">
                <a href="@Url.Action("UserStats", new
                             {
                                 Controller = "Home",
                                 Area = "Admin",
                                 email = (string)Model.email
                             })" class="action-link">
                    <i class="glyphicon glyphicon-share-alt"></i> @Model.email
                </a>
            </h3>
        </div>
    </div>
</div>