@using WebAPI.Dashboard.Models.ViewModels.Usage
@model dynamic

@{
    ViewBag.Title = "AGRC Web API Analytics";
}

<div class="col-sm-offset-1 col-md-offset-2 col-md-8 col-sm-10">
    @Html.Partial("ApiKey", (UsageViewModel)Model.key)

    <div class="box box-widget widget-user-2" style="margin-top: -20px">
        <div class="widget-user-header flat bg-black-gradient">
            <h3 class="widget-user-username">
                <a href="@Url.Action("UserStats", new
                             {
                                 Controller = "Home",
                                 Area = "Admin",
                                 email = (string)Model.email
                             })">
                    @Model.email
                </a>
            </h3>
        </div>
    </div>
</div>