@using WebAPI.Common.Extensions
@model IOrderedEnumerable<WebAPI.Common.Indexes.StatsPerApiKey.Stats>

@{
    ViewBag.Title = "AGRC Web API Analytics";
}
<div id="home">
    <h2 class="text-center">
        User Key Stats
    </h2>
</div><div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-2 col-md-4">
            <div class="info-box">
                <span class="info-box-icon bg-light-blue">
                <i class="glyphicon glyphicon-user"></i>
            </span>
                <div class="info-box-content">
                    <span class="info-box-text">User</span>
                    <span class="info-box-number">@Request["email"]</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="info-box">
                <span class="info-box-icon bg-maroon">
                    <i class="glyphicon glyphicon-stats"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Total Requests Handled</span>
                    <span class="info-box-number">@Model.Sum(x => x.UsageCount).ToString("#,##0")</span>
                </div>
            </div>
        </div>
    </div>
@{
    const int itemsPerRow = 3;
    var i = 0;
    foreach (var key in Model)
    {
        if (i == itemsPerRow || (i > 0 && i%itemsPerRow == 0))
        {
            @:</div>
        }

        if (i%itemsPerRow == 0)
        {
            @:<div class="row">
        }
        i++;
    <div class="col-md-4 col-sm-6">
       @Html.Partial("ApiKey", new
       {
           key
       }.ToExpando()) 
    </div>
    }
}
</div>