@using WebAPI.Common.Executors
@using WebAPI.Dashboard.Commands.Time
@model IOrderedEnumerable<WebAPI.Common.Indexes.StatsPerApiKey.Stats>

@{
    ViewBag.Title = "AGRC Web API Analytics";
}

<div class="container-fluid">
@{
    const int itemsPerRow = 4;
    var i = 0;
    foreach (var key in Model)
    {
        if (i == itemsPerRow || (i > 0 && i%itemsPerRow == 0))
        {
            @:</div>
        }

        if (i%itemsPerRow == 0)
        {
            @:<div class="row">
        }
        i++;
    <div class="col-md-3 col-sm-6">
       @Html.Partial("ApiKey", key) 
    </div>
    }
}
</div>