---
import { getLanguageFromURL } from "../../languages";
import { SIDEBAR } from "../../consts";

type Props = {
  currentPage: string;
};

const { currentPage } = Astro.props;
const currentPageMatch = currentPage.endsWith("/")
  ? currentPage.slice(1, -1)
  : currentPage.slice(1);
const langCode = getLanguageFromURL(currentPage);
const sidebar = SIDEBAR[langCode];
---

<nav aria-labelledby="grid-left" class="w-full mr-4">
  <ul
    id="nav-groups"
    class="h-full py-8 overflow-x-visible overflow-y-auto max-h-screen"
  >
    {
      Object.entries(sidebar).map(([header, children]) => (
        <li>
          <div class="nav-group first:pt-8">
            <h2 class="uppercase font-bold">{header}</h2>
            <ul>
              {children.map((child, i) => {
                let url = Astro.site?.pathname + child.link;
                if (child.link.startsWith("http")) {
                  url = child.link;
                }
                return (
                  <li class="block">
                    <a
                      href={url}
                      class="block px-2 m-1 py-1 hover:bg-slate-200/50 dark:hover:bg-slate-900/50 aria-[current=page]:bg-mustard-200/50 dark:aria-[current=page]:bg-mustard-800/50"
                      aria-current={
                        currentPageMatch === child.link ? "page" : false
                      }
                    >
                      {child.text}
                    </a>
                  </li>
                );
              })}
            </ul>
          </div>
        </li>
      ))
    }
  </ul>
</nav>

<script is:inline>
  window.addEventListener("DOMContentLoaded", () => {
    var target = document.querySelector('[aria-current="page"]');
    if (target && target.offsetTop > window.innerHeight - 100) {
      document.getElementById("nav-groups").scrollTop = target.offsetTop;
    }
  });
</script>

<style>
  .a[aria-current="page"] {
    color: var(--theme-text-accent);
    background-color: var(--theme-bg-accent);
    font-weight: 600;
  }

  @media (min-width: 50em) {
    .nav-groups {
      padding: 0;
    }
  }
</style>

<style is:global>
  :root.dark .nav-link a[aria-current="page"] {
    color: hsla(var(--color-base-white), 100%, 1);
  }
</style>
