---
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import '../main.css';
---

<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>UGRC API | UGRC API Documentation</title><link rel="canonical" />
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" />
    <meta property="og:title" content="UGRC API" />
    <meta property="og:type" content="article" />
    <meta property="og:url" />
    <meta property="og:locale" content="en" />
    <meta property="og:description" content="Help for wherever you are on your geospatial journey" />
    <meta property="og:site_name" content="UGRC API Documentation" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="UGRC API" />
    <meta name="twitter:description" content="Help for wherever you are on your geospatial journey" />
    <meta name="description" content="Help for wherever you are on your geospatial journey" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main id="main-content" class="text-slate-700">
      <Header />
      <slot />
      <Footer />
    </main>
  </body>
</html>
