---
import Footer from '../components/Footer.astro';
import '../main.css';
---

<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>UGRC API | UGRC API Documentation</title><link rel="canonical" />
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" />
    <meta property="og:title" content="UGRC API" />
    <meta property="og:type" content="article" />
    <meta property="og:url" />
    <meta property="og:locale" content="en" />
    <meta property="og:description" content="Help for wherever you are on your geospatial journey" />
    <meta property="og:site_name" content="UGRC API Documentation" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="UGRC API" />
    <meta name="twitter:description" content="Help for wherever you are on your geospatial journey" />
    <meta name="description" content="Help for wherever you are on your geospatial journey" />
  </head><body>
    <main class="pb-16 text-slate-700">
      <slot />
    </main>
    <Footer />
  </body>
</html>
