@model WebAPI.API.Models.ViewModels.MainView
<div class="well">
    <span class="label label-verb label-get pull-left">Get</span> <span class="label label-url url pull-right">
                                                                      /info/FeatureClassNames</span>
    <div class="clearfix">
    </div>
    <h3>
        SGID Feature Class Names
    </h3>
    <p>
        Returns a list of feature class names from the most current SGID.
    </p>
    <button class="btn btn-default" data-details="true">
        Details
    </button>
    <span class="help-inline label label-success label-status pull-right">implemented</span>
    <div class="clearfix">
    </div>
    <form class="form-horizontal" style="display: none">
        <fieldset>
            <legend class="hidden"></legend>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="sgidCategory">
                    category
                </label>
                <div class="col-sm-8">
                    @Html.DropDownList("sgidCategory", Model.SgidCategories, "Categories", new
                    {
                        @class = "form-control"
                    })
                    <span class="help-inline label label-info">string</span> <span class="help-inline label label-success">
                                                                                 optional</span>
                    <p class="help-block">
                        Filter feature classes by OpenSGID categories. opensgid.<strong>boundaries</strong>.county_boundaries.
                        If this parameter is omitted all feature class names will be returned.
                    </p>
                </div>
            </div>
        </fieldset>
        <div class="progress-striped active col-sm-offset-2 col-sm-8 col-xs-12">
            <button class="btn btn-primary col-sm-offset-2 col-sm-8 col-xs-12" data-demo data-url="@Url.RouteUrl("v1_InfoApi", new
                                                                                                   {
                                                                                                       httproute = "", controller = "Info", version = "1"
                                                                                                   })">
                Try it
            </button>
        </div>
        <div class="code-well">
            <a class="close" data-close>×</a>
            <div class="clearfix">
            </div>
            <pre class="pre-scrollable-small" data-codeContainer>Code</pre>
            <div class="alert alert-info text-center" id="sampleUrl" style="display: none">
            </div>
        </div>
    </form>
</div>