@model WebAPI.Dashboard.Models.ViewModels.MainViewModel
@{
    ViewBag.Title = "Password Reset";
}
<div id="home">
    <div class="pull-right">
        @Html.ActionLink("Log Out", "Logout")
    </div>
</div>
<div class="col-sm-offset-3 col-sm-6">
    @Html.ErrorBox()
    @Html.MessageBox()
</div>
@using (Html.BeginForm("Reset", "AccountAccess", FormMethod.Post, new
{
    @class = "form-horizontal", style = "padding-top: 50px;"
}))
{
    <div class="offset3 well span6">
        <h2>
            Reset your password</h2>
        <div class="form-group">
            <label class="control-label" for="urlpattern">
                Email Address:</label>
            <div class="col-sm-9">
                <div class="input-group">
                    @Html.TextBox("Email", Model.User.Email,
                                  new
                                  {
                                      required = "true",
                                      @class = "input-large"
                                  })@Html.Button("Reset", new
                                    {
                                        @class = "btn btn-danger"
                                    })
                </div>
            </div>
        </div>
    </div>
}