---
import { getLanguageFromURL, KNOWN_LANGUAGE_CODES } from "../../languages";
import { SITE } from "../../consts";
import apiLogo from "../../images/logos/api.svg";
import SkipToContent from "./SkipToContent.astro";
import SidebarToggle from "./SidebarToggle";
import LanguageSelect from "./LanguageSelect";
import Search from "./Search";

type Props = {
  currentPage: string;
};

const { currentPage } = Astro.props;
const lang = getLanguageFromURL(currentPage);
---

<header
  class="z-10 h-24 w-full flex items-center justify-end overflow-hidden sticky md:static py-8 top-0 bg-white dark:bg-slate-800 text-slate-800 dark:text-slate-300 a:text-slate-300 dark:a:text-slate-800 a:hover:text-mustard-800 transition-all"
>
  <SkipToContent />
  <nav
    class="flex items-center justify-end gap-4 w-full max-w-7xl px-4"
    title="Top Navigation"
  >
    <div class="md:hidden">
      <SidebarToggle client:idle />
    </div>
    <div class="flex flex-1 overflow-hidden shrink-0 gap-1 -z-10">
      <a href="/" class="flex items-center gap-3 text-5xl font-extrabold">
        <img src={apiLogo} class="w-10 md:w-20 dark:filter dark:invert" />
        <h1>{SITE.title ?? "Documentation"}</h1>
      </a>
    </div>
    <div style="grow"></div>
    {
      KNOWN_LANGUAGE_CODES.length > 1 && (
        <LanguageSelect lang={lang} client:idle />
      )
    }
    <div class="relative z-10 grow pr-3 flex max-w-[200px] md:max-w-[400px]">
      <Search client:idle />
    </div>
  </nav>
</header>

<style>
  /** Style Algolia */
  :root {
    --docsearch-primary-color: var(--theme-accent);
    --docsearch-logo-color: var(--theme-text);
  }
</style>
