rules_version = '2';
service cloud.firestore {
  function isAuthenticated() {
    return request.auth != null;
  }
  function isCurrentUser(uid) {
    return request.auth.uid == uid;
  }

  match /databases/{database}/documents {
    match /clients/{uid} {
     allow read: if isAuthenticated() && isCurrentUser(uid);
    }
    match /keys/{key} {
      allow read: if isAuthenticated() && (get(/databases/$(database)/documents/keys/$(key)).data.accountId == request.auth.uid);
    }
  }
}
