@model dynamic
@{
    ViewBag.Title = "AGRC Developer Console Changelog";
}

<h1> Changelog</h1>
<h2>
    1.2.2.0
    <small>2/12/2018</small>
</h2>
<ul>
    <li class="item">Update dependencies and logger
</ul>
<h2>
    1.2.1.0
    <small>8/14/2017</small>
</h2>
<ul>
    <li class="item">Removed email max length #58
</ul>
<h2>
    1.2.0.0
    <small>5/10/2017</small>
</h2>
<ul>
    <li class="item">Updated admin analytics #36
</ul>
<h2>1.1.0.0
    <small>11/9/2016</small></h2>
<ul>
    <li class="item">Updated design to be more mobile friendly #18
</ul>
<h2>
    1.0.606.1
    <small>6/6/2013</small>
</h2>
<ul>
    <li class="item">disabled logging to try to pinpoint performance issues.
    <li class="item">Can now use SSL.
</ul>
<h2>
    1.0.0429.1
    <small>4/29/2013</small>
</h2>
<ul>
    <li class="item">Password updating does not 404 when bad input is received.
</ul>
<h2>
    1.0.416.1
    <small>4/18/2013</small>
</h2>
<ul>
    <li class="item">automated changelog creation
</ul>
<h2>
    1.0.0403.1
    <small>4/3/2013</small>
</h2>
<ul>
    <li class="item">updated the rules for authorizing development key requests.
</ul>
<h2>
    1.0.321.1
    <small>3/22/2013</small>
</h2>
<ul>
    <li class="item">added startup guide.<li class="item">updated ip validation rules
</ul>


<style>
    body {
        color: #444;
        font: normal 15px/20px Aerial, sans-serif;
    }

    h1 {
        font-size: 40px;
        font-weight: normal;
        letter-spacing: -2px;
    }

    h2 { font-size: 20px; }

    h2 > small {
        color: #888;
        display: block;
        font-size: 12px;
        font-weight: normal;
        letter-spacing: 0px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li.item {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAARpJREFUOE+1lL0KwjAUhTu4u1ro1q30l0opRUqgS98ir9AXcPaRHB3E0eru4CQdBfsA8R4xEqNRQS0cSHNPvp7chFrWrx4hhAV9/fwdZNs2Jy1Ie9LxOubG5HoiWjAkbVzXFUEQiDiORZIklzHmUIPnAaiDHMfZhmEo0jR9KtTgeQnCdnQIfYhBKhgeeO9gaiLP81Z6EmnW533fnxtBURSd5AKZRJr1ZNS3gxGU53knQabTUZL1RlBZlmtppB6gD7ebKt9lnTHWGkGc8+mnPYLXCKI+jCjVToXpSVCDB14jCIW2bZkOU8GowfP2QtKXBqRx0zSzqqo2WZb1RVF0dV0vMYcaPG9BynGPaEFMmpBykv+wna9/Gf8EnAGWvS05wlmn+QAAAABJRU5ErkJggg==);
        background-repeat: no-repeat;
        padding-left: 19px;
    }
</style>