@model dynamic
@{
    Layout = "~/Views/Shared/_Bootstrap.cshtml";
    ViewBag.Title = "UGRC Developer Web API Changelog";
}

<h1>Changelog</h1>
<h2>
    1.13.2
    <small>4/013/2021</small>
</h2>
<ul>
    <li class="item">Fix cache database connection.
</ul>
<h2>
    1.13.1
    <small>2/04/2021</small>
</h2>
<ul>
    <li class="item">Remove <a href="https://github.com/agrc/porter/issues?q=+sort%3Aupdated-desc+label%3Adeprecation+">deprecated tables</a> from the SGID table mapping. Use open sgid table names for search queries.
</ul>
<h2>
    1.13.0
    <small>1/04/2021</small>
</h2>
<ul>
    <li class="item">Replace SGID10 with OpenSGID
    <li class="item">Improve place name list
</ul>
<h2>
    1.12.5
    <small>11/25/2020</small>
</h2>
<ul>
    <li class="item">Improve place name list
    <li class="item">Replace elevation query with 3DEP image service
    <li class="item">Add scientist tests for open sgid data source replacement
</ul>
<h2>
    1.12.4
    <small>10/07/2020</small>
</h2>
<ul>
    <li class="item">Fix reverse mile post bug with ok status code from UDOT Roads and Highways service
</ul>
<h2>
    1.12.3
    <small>10/05/2020</small>
</h2>
<ul>
    <li class="item">Replace route and milepost endpoint source data with UDOT Roads and Highways services
</ul>
<h2>
    1.12.2
    <small>6/17/2020</small>
</h2>
<ul>
    <li class="item">Log geocoding client details from places like the geocoding toolbox
    <li class="item">Update dependencies
</ul>
<h2>
    1.12.1
    <small>4/30/2020</small>
</h2>
<ul>
    <li class="item">Improve api key validation error message
</ul>
<h2>
    1.12.0
    <small>12/17/2019</small>
</h2>
<ul>
    <li class="item">Dependency updates
    <li class="item">Improve logging with stackdriver
</ul>
<h2>
    1.11.0
    <small>7/15/2019</small>
</h2>
<ul>
    <li class="item">Add ability to query mileposts on full route (#94)
</ul>
<h2>
    1.10.2
    <small>4/29/2019</small>
</h2>
<ul>
    <li class="item">Fix fatal crash when trying to create an esri graphic on a response object with no geometry (#92)
</ul>
<h2>
    1.10.1
    <small>3/03/2019</small>
</h2>
<ul>
    <li class="item">Fix route and mile post issue that only allowed milepost to be found in the positive direction (#91)
</ul>
<h2>
    1.10.0
    <small>1/21/2019</small>
</h2>
<ul>
    <li class="item">Add `suggest` property to Reverse Milepost geocoding to get nearby candidates (#84)
</ul>
<h2>
    1.9.7
    <small>1/21/2019</small>
</h2>
<ul>
    <li class="item">Remove .,_ from zone inputs to avoid argument null exception (#82)
    <li class="item">Reorder CORS handler to run before authorization so failed auth attempts can retrieve CORS payload (#80)
</ul>
<h2>
    1.9.6
    <small>5/8/2018</small>
</h2>
<ul>
    <li class="item">Trim white space around api keys
    <li class="item">Address grid checks are now case insensitive
</ul>
<h2>
    1.9.5
    <small>4/9/2018</small>
</h2>
<ul>
    <li class="item">Fix bug with geojson response format when no address is found
    <li class="item">Replace `_` with ` ` for user input
</ul>
<h2>
    1.9.4
    <small>2/26/2018</small>
</h2>
<ul>
    <li class="item">Replace po box map service with drive data.
</ul>
<h2>
    1.9.3
    <small>2/22/2018</small>
</h2>
<ul>
    <li class="item">Bug fixes uncovered from logging.
</ul>
<h2>
    1.9.2
    <small>2/12/2018</small>
</h2>
<ul>
    <li class="item">Update dependencies and logging logic.
</ul>
<h2>
    1.9.1
    <small>2/7/2018</small>
</h2>
<ul>
    <li class="item">Fix issue with license in start po box caching logic.
</ul>
<h2>
    1.9.0
    <small>8/24/2017</small>
</h2>
<ul>
    <li class="item">Upgraded locator logic to use the alternate names tables.
</ul>
<h2>
    1.8.4
    <small>8/22/2017</small>
</h2>
<ul>
    <li class="item">Update spelling issue in lookup table
</ul>
<h2>
    1.8.3
    <small>6/29/2017</small>
</h2>
<ul>
    <li class="item">Update place names to handle direction abbreviations in zones. #54
</ul>
<h2>
    1.8.2
    <small>6/14/2017</small>
</h2>
<ul>
    <li class="item">Standardize salt lake city avenue addresses to contain an east prefix direction #51
</ul>
<h2>
    1.8.1
    <small>6/13/2017</small>
</h2>
<ul>
    <li class="item">Standardize midvale avenue addresses to contain a west prefix direction #51
</ul>
<h2>
    1.8.0
    <small>6/6/2017</small>
</h2>
<ul>
    <li class="item">Allow for esri json formatted geometries to be used in the search endpoint. #8, #42
</ul>
<h2>
    1.7.1
    <small>5/10/2017</small>
</h2>
<ul>
    <li class="item">Fix bug with inconsistent results on not found addresses #48
</ul>
<h2>
    1.7.0
    <small>4/26/2017</small>
</h2>
<ul>
    <li class="item">Add the scoreDifference property to single and multiple address geocoding. #34
</ul>
<h2>
    1.6.12
    <small>4/11/2017</small>
</h2>
<ul>
    <li class="item">Update logic around unit type abbreviations.
</ul>
<h2>
    1.6.11
    <small>3/20/2017</small>
</h2>
<ul>
    <li class="item">Update logic for street name classification. #44
</ul>
<h2>
    1.6.10
    <small>2/27/2017</small>
</h2>
<ul>
    <li class="item">Add loop to stree type to fix addresses with two street types in name. #44
</ul>
<h2>
    1.6.9
    <small>12/6/2016</small>
</h2>
<ul>
    <li class="item">Update help text on filter criteria and improve error message #41
    <li class="item">Geocoding improvements for Brigham City zip codes
    <li class="item">Remove commas from input street addresses
</ul>
<h2>
    1.6.8
    <small>11/9/2016</small>
</h2>
<ul>
    <li class="item">Updated design to be more mobile friendly #18
</ul>
<h2>
    1.6.7
    <small>11/3/2016</small>
</h2>
<ul>
    <li class="item">
        Fixed a bug related to route and milepost reprojecting #25

    <li class="item">
        Removed the beta ribbon!

    <li class="item">
        Added the callback form elements to the explorer. #35

    <li class="item">
        Updated the spatialReference help text

    <li class="item">
        Created more appriate error messages for invalid search geometry inputs.

</ul>
<h2>
    1.6.6
    <small>8/25/2016</small>
</h2>
<ul>
    <li class="item">
        Fix endoint /info/FieldNames.

</ul>
<h2>
    1.6.5.0
    <small>8/1/2016</small>
</h2>
<ul>
    <li class="item">
        Before fixing #29, all returnValues input for the search api were uppercased. camelCase was the default response casing and since the values were all uppercased the api would return all lowercased values.
        This patch update changes the default response casing to lowercase to match this behavior.

    <li class="item">
        Placename and zip code lookup improvements for Eagle Mountain.

</ul>
<h2>
    1.6.4.0
    <small>7/28/2016</small>
</h2>
<ul>
    <li class="item">
        Fix attributeStyle inconsistency. <a href="https://github.com/agrc/api.mapserv.utah.gov/issues/29">#29</a>

</ul>
<h2>
    1.6.3.0
    <small>7/25/2016</small>
</h2>
<ul>
    <li class="item">
        Fix issue with over replacement of unit values in street names. <a href="https://github.com/agrc/api.mapserv.utah.gov/issues/22">#22</a>

</ul>
<h2>
    1.6.2.0
    <small>7/5/2016</small>
</h2>
<ul>
    <li class="item">
        Allow reverse geocode to handle other spatial refereces. <a href="https://github.com/agrc/api.mapserv.utah.gov/issues/26">#26</a>

</ul>
<h2>
    1.6.1.0
    <small>5/3/2016</small>
</h2>
<ul>
    <li class="item">
        Strip city of and down of text from zone. <a href="https://github.com/agrc/api.mapserv.utah.gov/issues/6">#6</a>

    <li class="item">
        Update documentation around spatial reference and remove not implemented badge on search endpoint. <a href="https://github.com/agrc/api.mapserv.utah.gov/issues/5">#5</a>

</ul>
<h2>
    1.6.0.0
    <small>5/2/2016</small>
</h2>
<ul>
    <li class="item">
        Introduce ability to geocode from arcgis.com

</ul>
<h2>
    1.5.0106.1
    <small>1/7/2015</small>
</h2>
<ul>
    <li class="item">
        Ability to query raster datasets in the SGID.

    <li class="item">Display message when requests time out.
</ul>
<h2>
    1.4.1204.1
    <small>12/5/2014</small>
</h2>
<ul>
    <li class="item">upgrade underlying libraries
    <li class="item">
        Ability to geocode P.O. Boxes in "Street Zone" geocoding. Use the pobox=true flag to opt in to this feature.

    <li class="item">
        Fixed CSS bug with API Explorer demos.

    <li class="item">Removed callback parameter from multiple geocoding requests since you cannot POST with JSONP. Use CORS.
</ul>
<h2>
    1.3.1124.1
    <small>11/24/2014</small>
</h2>
<ul>
    <li class="item">Geocoding improvements where unincorporated address are addressed from the county grid.
</ul>
<h2>
    1.3.1111.1
    <small>11/11/2014</small>
</h2>
<ul>
    <li class="item">Api key logging is re-enabled.
</ul>
<h2>
    1.3.1110.1
    <small>11/10/2014</small>
</h2>
<ul>
    <li class="item">Placename lookup improvements.
</ul>
<h2>
    1.3.0610.2
    <small>6/10/2014</small>
</h2>
<ul>
    <li class="item">Better handling of malformed addresses.
</ul>
<h2>
    1.3.0610.1
    <small>6/10/2014</small>
</h2>
<ul>
    <li class="item">
        Placename lookup improvements.

    <li class="item">Better handling of malformed addresses.
</ul>
<h2>
    1.3.0506.2
    <small>5/7/2014</small>
</h2>
<ul>
    <li class="item">spatialReference is now populated on returned graphic
</ul>
<h2>
    1.3.0506.1
    <small>5/6/2014</small>
</h2>
<ul>
    <li class="item">Place name lookup improvements.
</ul>
<h2>
    1.3.0430.1
    <small>4/30/2014</small>
</h2>
<ul>
    <li class="item">Added secret search flag for modifying attribute format. identical: as is in data. upper: upper cases all attribute names. lower: lowercases all attribute names. camel: camel cases all attribute names.
    <li class="item">shape@envelope is implemented
    <li class="item">reverse route and mile post used 3 significant digits
</ul>
<h2>
    1.3.0423.1
    <small>4/23/2014</small>
</h2>
<ul>
    <li class="item">Updates to place names
</ul>
<h2>
    1.3.0326.1
    <small>3/26/2014</small>
</h2>
<ul>
    <li class="item">Place name lookup improvements
</ul>
<h2>
    1.3.0324.1
    <small>3/24/2014</small>
</h2>
<ul>
    <li class="item">Improved results for Centerville and Woods Cross.
</ul>
<h2>
    1.3.0317.1
    <small>3/18/2014</small>
</h2>
<ul>
    <li class="item">
        Improved geocoding in castledale

    <li class="item">Address grids are now upper case instead of title case
</ul>
<h2>
    1.3.0306.1
    <small>3/6/2014</small>
</h2>
<ul>
    <li class="item">Address system place name lookup improvements.
</ul>
<h2>
    1.3.0122.2
    <small>1/22/2014</small>
</h2>
<ul></ul>
<h2>
    1.3.0122.1
    <small>1/22/2014</small>
</h2>
<ul>
    <li class="item">

    <li class="item">712*2 test address passing validation.
</ul>
<h2>
    1.3.0121.1
    <small>1/22/2014</small>
</h2>
<ul>
    <li class="item">

    <li class="item">Address cleansing improvements.
</ul>
<h2>
    1.3.0116.1
    <small>1/16/2014</small>
</h2>
<ul>
    <li class="item">fixed bug where address score and weight were a tie so first address into top K list wins. introduced Levenshtein to look at string values.
    <li class="item">Updated address system grid lookup with st. george value.
    <li class="item">Our 'is definitely an address reversal' logic had some holes in it. Make the extra request with input address as a fall back to protect from silly address names.
    <li class="item">fixed a bug where white space in entries in street zone resource would result in no address matches found.
</ul>
<h2>
    1.3.0107.1
    <small>1/7/2014</small>
</h2>
<ul>
    <li class="item">Fixed regression where response formats stopped working.
    <li class="item">Updated address grid mappings for better match percentages.
    <li class="item">Added better rules for addresses containing secondary address units.
</ul>
<h2>
    1.3.0106.2
    <small>1/7/2014</small>
</h2>
<ul>
    <li class="item">Better handling of addresses with secondary addresses.
</ul>
<h2>
    1.3.1202.1
    <small>12/3/2013</small>
</h2>
<ul>
    <li class="item">Added reverse milepost endpoint. Enter an x,y coordinate and get back the closest route and milepost value.
</ul>
<h2>
    1.2.1111.1
    <small>11/11/2013</small>
</h2>
<ul>
    <li class="item">Geocoding accuracy improvements #27821
</ul>
<h2>
    1.2.1024.1
    <small>10/25/2013</small>
</h2>
<ul>
    <li class="item">Implemented the buffer parameter for the Search endpoint.
</ul>
<h2>
    1.2.1007.1
    <small>10/8/2013</small>
</h2>
<ul>
    <li class="item">
        Implemented field names endpoint.

    <li class="item">Route and mile post can return a reprojected coordinate.
</ul>
<h2>
    1.1.0716.1
    <small>7/16/2013</small>
</h2>
<ul>
    <li class="item">Fixed memory leak in search endpoint.
    <li class="item">CORS api key validation important bug fix.
</ul>
<h2>
    1.1.0701.2
    <small>7/2/2013</small>
</h2>
<ul>
    <li class="item">Search demo now displays sample url when invoked.
</ul>
<h2>
    1.1.0701.1
    <small>7/1/2013</small>
</h2>
<ul>
    <li class="item">New address points are being used.
</ul>
<h2>
    1.1.0627.1
    <small>6/27/2013</small>
</h2>
<ul>
    <li class="item">New samples link added to main page. Check it out!
</ul>
<h2>
    1.1.0626.1
    <small>6/26/2013</small>
</h2>
<ul>
    <li class="item">Better address matching and higher match scores. Modifying input addresses to correct known issues.
    <li class="item">Return a `standardizedAddress` property when the input address is modified.
</ul>
<h2>
    1.1.0625.1
    <small>6/26/2013</small>
</h2>
<ul>
    <li class="item">Improved Geocoding matches.
</ul>
<h2>
    1.1.0606.2
    <small>6/7/2013</small>
</h2>
<ul>
    <li class="item">Updated error messages when trying to search incorrectly.
</ul>
<h2>
    1.1.0606.1
    <small>6/6/2013</small>
</h2>
<ul>
    <li class="item">
        Can supply wkid to search.

    <li class="item">Can now use SSL.
</ul>
<h2>
    1.1.0604.1
    <small>6/5/2013</small>
</h2>
<ul>
    <li class="item">
        Changed Search parameter Point to Geometry.

    <li class="item">
        Geometry syntax for point is now point:[x,y]

    <li class="item">Added wkid for Search API
</ul>
<h2>
    1.1.0603.1
    <small>6/3/2013</small>
</h2>
<ul>
    <li class="item">Early prototype of Searching API
</ul>
<h2>
    1.0.0523.1
    <small>5/23/2013</small>
</h2>
<ul>
    <li class="item">disabled logging to try to pinpoint performance issues.
</ul>
<h2>
    1.0.0514.1
    <small>5/14/2013</small>
</h2>
<ul>
    <li class="item">General address matching improvements.
    <li class="item">USPS delivery address points are now a fall back if an address is not found via locators.
</ul>
<h2>
    1.0.0507.2
    <small>5/7/2013</small>
</h2>
<ul>
    <li class="item">Zip codes that only match one location are returned immediately.
</ul>
<h2>
    1.0.0507.1
    <small>5/7/2013</small>
</h2>
<ul>
    <li class="item">
        Fixed a bug with trying address reversals on non numeric street types.

    <li class="item">Added more place names and updated zip codes to include delivery point locations.
</ul>
<h2>
    1.0.0502.1
    <small>5/7/2013</small>
</h2>
<ul>
    <li class="item">Geocoding can now detect house addresses and street names that are in the reversed order and find a match using the correct order.
    <li class="item">Bug fix to improve address point geocoding.
</ul>
<h2>
    1.0.0430.3
    <small>4/30/2013</small>
</h2>
<ul>
    <li class="item">Updated more place names to address grids to improve match rates.
</ul>
<h2>
    1.0.0430.2
    <small>4/30/2013</small>
</h2>
<ul>
    <li class="item">Added place names and abbreviations to the "place to address grid" lookup.
</ul>
<h2>
    1.0.0430.1
    <small>4/30/2013</small>
</h2>
<ul>
    <li class="item">updated zip code to address grid lookup with updated values.
</ul>
<h2>
    1.0.0423.1
    <small>4/23/2013</small>
</h2>
<ul>
    <li class="item">Improved address matching Bluff.
</ul>
<h2>
    1.0.0418.1
    <small>4/18/2013</small>
</h2>
<ul>
    <li class="item">automated changelog creation
    <li class="item">Major speed improvement when geocoding by city.
    <li class="item">The Address System Grid value is now a property on a geocode response object (addressGrid).
    <li class="item">updated packages.
</ul>

<style>
    body {
        color: #444;
        font: normal 15px/20px Aerial, sans-serif;
    }

    h1 {
        font-size: 40px;
        font-weight: normal;
        letter-spacing: -2px;
    }

    h2 {
        font-size: 20px;
    }

        h2 > small {
            color: #888;
            display: block;
            font-size: 12px;
            font-weight: normal;
            letter-spacing: 0px;
        }

    ul {
        list-style: none;
        padding: 0;
    }

    li.item {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAARpJREFUOE+1lL0KwjAUhTu4u1ro1q30l0opRUqgS98ir9AXcPaRHB3E0eru4CQdBfsA8R4xEqNRQS0cSHNPvp7chFrWrx4hhAV9/fwdZNs2Jy1Ie9LxOubG5HoiWjAkbVzXFUEQiDiORZIklzHmUIPnAaiDHMfZhmEo0jR9KtTgeQnCdnQIfYhBKhgeeO9gaiLP81Z6EmnW533fnxtBURSd5AKZRJr1ZNS3gxGU53knQabTUZL1RlBZlmtppB6gD7ebKt9lnTHWGkGc8+mnPYLXCKI+jCjVToXpSVCDB14jCIW2bZkOU8GowfP2QtKXBqRx0zSzqqo2WZb1RVF0dV0vMYcaPG9BynGPaEFMmpBykv+wna9/Gf8EnAGWvS05wlmn+QAAAABJRU5ErkJggg==);
        background-repeat: no-repeat;
        padding-left: 19px;
    }
</style>