<appSettings>
  <!--  & need to be escaped with &amp; in urls-->
  <add key="notify_email" value=""/>
  <add key="gis_server_host" value=""/>

  <add key="location_connection" value="" />
  <add key="sgid_connection" value=""/>

  <add key="milepost_url" value=""/>
  <add key="reverse_milepost_url" value=""/>
  <add key="search_url" value=""/>
  <add key="geometry_service_url" value=""/>
</appSettings>