<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="RemoveAttributes(file)">
    <add key="raven_db_url" value="#{RavenDB}#" xdt:Transform="SetAttributes(value)" />
    <add key="notify_email" value="#{Notify}#" xdt:Transform="SetAttributes(value)" />
    <add key="gis_server_host" value="#{Host}#" xdt:Transform="SetAttributes(value)" />
    <add key="open_sgid_connection" value="#{OpenSGID}#" xdt:Transform="SetAttributes(value)" />
    <add key="geometry_service_url" value="#{GeometryService}#" xdt:Transform="SetAttributes(value)" />
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" xdt:Transform="SetAttributes(deliveryMethod)">
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
