<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="RemoveAttributes(file)">
    <add key="raven_db_url" value="__RavenDB__" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="notify_email" value="__Notify__" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="gis_server_host" value="__Host__" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="open_sgid_connection" value="__OpenSGID__" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="geometry_service_url" value="__GeometryService__" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" xdt:Transform="SetAttributes(deliveryMethod)">
        <specifiedPickupDirectory xdt:Transform="Remove" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
