<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="sde_search_user" value="SearchAPI"/>
    <add key="sde_search_password" value="f1nd1t!"/>

    <add key="sgid_user" value="agrc"/>
    <add key="sgid_password" value="agrc"/>

    <add key="sgid_instance" value="sde:sqlserver:sgid.agrc.utah.gov"/>
    <add key="sgid_server" value="sgid.agrc.utah.gov"/>
  </appSettings>
</configuration>
