<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="sde_search_user" value=""/>
    <add key="sde_search_password" value=""/>

    <add key="sgid_user" value=""/>
    <add key="sgid_password" value=""/>

    <add key="sgid_instance" value=""/>
    <add key="sgid_server" value=""/>
  </appSettings>
</configuration>