@model WebAPI.Common.Models.Raven.Users.Account
@if (Model.Confirmation.Confirmed)
{
    <label class="col-sm-4 control-label" for="Email">
        Email Address <span class="label label-success">Confirmed</span>
    </label>
    <div class="col-sm-8">
        <div>
            @Html.TextBox("Email", Model.Email, new
            {
                @class = "form-control",
                data_required = "",
                @id = "Email",
                MaxLength = "30"
            })
        </div>
    </div>
}
else
{
    <label class="col-sm-4 control-label" for="Email">
        Email Address <span class="label label-danger">Unconfirmed</span>
    </label>
    <div class="col-sm-8">
        <div class="input-group">
            @Html.TextBox("Email", Model.Email, new
            {
                @class = "form-control",
                data_required = "",
                @id = "Email",
                MaxLength = "30"
            })
            <span class="input-group-btn">
                @Html.Button("Confirm", new
              {
                  id = "confirm",
                  @class = "btn btn-warning"
              })
            </span>
        </div>
    </div>
}