<div class="col-sm-offset-2 col-sm-8 list-group">
    <div class="list-group-item">
        <h4 class="list-group-item-heading">Popular wkid's</h4>
    </div>
    <div class="list-group-item">
        Web Mercator
        <span class="badge">3857</span>
    </div>
    <div class="list-group-item">
        Latitude/Longitude (WGS84)
        <span class="badge">4326</span>
    </div>
</div>