@{
    Layout = null;
}

<!DOCTYPE html>
    <meta name="viewport" content="width=device-width"/>
    <title>Error</title>
<body>
<h2>
    Sorry, an error occurred while processing your request.
</h2>
</body>