@using System.Reflection
<p class="muted"><span class="pull-right">&copy; AGRC @DateTime.Now.Year</span>
    <i class="icon-barcode"></i> @ViewContext.Controller.GetType().Assembly.GetName().Version
 </p>
