.label { font-size: 100%; }

.pre-scrollable-small {
    background-color: white;
    max-height: 150px;
    min-height: 20px;
    overflow-y: scroll;
}

.label { padding: 0px 4px 1px; }

/* Sticky footer styles
      -------------------------------------------------- */

html,
body { height: 100%; }

      /* Wrapper for page content to push down footer */

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -35px;
}

      /* Set the fixed height of the footer here */

#push { height: 60px; }
#footer { height: 25px; }

#wrap > .container { padding-top: 60px; }
