---
import { Image } from 'astro:assets';
import apiLogo from '../assets/api.svg';
import ugrcLogo from '../assets/ugrc.svg';
---

<nav
  class="z-10 fixed bottom-0 w-full bg-wavy-200/95 overflow-x-auto text-wavy-700 font-semibold border-t border-wavy-700/75"
>
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="sm:ml-4">
          <div class="flex gap-8 relative items-center justify-center">
            <div class="flex flex-row gap-2 mr-10">
              <a href="https://gis.utah.gov" class="relative">
                <Image src={ugrcLogo} alt="UGRC Logo" class="h-9" height="36px" />
              </a>
              <a href="/" class="relative">
                <Image src={apiLogo} alt="UGRC API Logo" class="h-9" height="36px" />
              </a>
            </div>
            <a href="/docs" class="relative whitespace-nowrap">Documentation</a>
            <a href="/getting-started" class="whitespace-nowrap">Getting Started Guide</a>
            <a href="/privacy" class="whitespace-nowrap">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
