---
import Header from "@ugrc/header";

const links = [
  {
    title: "Getting Started Guide",
    actionUrl: {
      url: "/getting-started",
    },
  },
  {
    title: "Documentation",
    actionUrl: {
      url: "/docs",
    },
  },
  {
    title: "Privacy Policy",
    actionUrl: {
      url: "/privacy",
    },
  },
];
---

<Header client:load links={links}>
  <a
    href="/"
    class="p-2 rounded-md flex items-center space-x-2 hover:bg-slate-200"
  >
    <img
      src="/api.svg"
      alt="UGRC API"
      class="hidden h-16 w-16 sm:block"
      role="presentation"
    />
    <div
      class="text-center text-slate-700 dark:text-slate-300 text-4xl font-bold"
    >
      UGRC API
    </div>
  </a>
</Header>
