---
import Header from '@ugrc/header';

const links = [
  {
    title: 'Getting started guide',
    actionUrl: {
      url: '/getting-started',
    },
  },
  {
    title: 'Documentation',
    actionUrl: {
      url: '/docs',
    },
  },
  {
    title: 'Privacy policy',
    actionUrl: {
      url: '/privacy',
    },
  },
];
---

<Header client:load links={links}>
  <a
    href="/"
    class="flex items-center space-x-2 rounded-md p-2 hover:bg-slate-200"
  >
    <img
      src="/api.svg"
      alt="UGRC API"
      class="hidden h-16 w-16 sm:block"
      role="presentation"
    />
    <div
      class="text-center text-4xl font-bold text-slate-700 dark:text-slate-300"
    >
      UGRC API
    </div>
  </a>
</Header>
