---
import Header from "@ugrc/header";

const links = [
  {
    title: "Getting Started Guide",
    actionUrl: {
      url: "/getting-started",
    },
  },
  {
    title: "Documentation",
    actionUrl: {
      url: "/docs",
    },
  },
  {
    title: "Privacy Policy",
    actionUrl: {
      url: "/privacy",
    },
  },
];
---

<Header client:load links={links}>
  <div class="flex flex-1 items-center space-x-2">
    <img
      src="/api.svg"
      alt="UGRC API"
      class="hidden h-16 w-16 sm:block"
      role="presentation"
    />
    <h1
      class="text-center text-slate-700 dark:text-slate-300 text-4xl font-bold"
    >
      UGRC API
    </h1>
  </div>
</Header>
