---
const { endpoint, verb } = Astro.props;
import { Code } from '@astrojs/starlight/components';
---

<style>
  .verb {
    width: fit-content;
    border: 1px solid var(--sl-color-blue);
    background-color: var(--sl-color-black);
    padding: 0.2em 0.5em;
    border-radius: 0.25rem;
  }
</style>
<aside
  aria-label="HTTP Verb: GET"
  class="starlight-aside starlight-aside--note"
>
  <p class="starlight-aside__title verb" aria-hidden="true">HTTP {verb}</p>
  <Code
    code={'https://api.mapserv.utah.gov/api/v1/' + endpoint + '?apikey={key}'}
    meta="endpoint"
    lang="txt"
  />
</aside>
